.button {
    width: 535px;
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #046380;
}