.main-header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 0;

    background-color: #002f2f;

    & > * {
        display: inline-block;

        vertical-align: middle;
    }

    &__logo {
        width: 5%;

        text-align: center;
    }

    &__main-menu {
        width: 75%;
    }

    &__contacts {
        width: 20%;
    }

    @media screen and (max-width: 1023px) {
        position: relative;

        padding-left: 40px;
        padding-right: 40px;

        text-align: justify;

        &::after {
            display: inline-block;
            width: 100%;

            content: '';
        }

        &__logo {
            display: none;
        }

        &__main-menu {
            width: auto;
        }

        &__contacts {
            width: auto;
        }
    }

    @media screen and (max-width: 439px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}