.to-top-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;

    width: 80px;
    height: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    border: none;
    background: none;

    @media screen and (max-width: 767px) {
        display: none;
    }
}