html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $open-sans;

    background-color: #faf9ef;
}

main {
    @include container($desktop-width);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}